{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div id="post-view-head">
    </div>

    {% if user.is_authenticated %}
        <div class="border rounded m-2 p-2" id="compose-post">
            <h4>New post</h4>
            <form id="compose-form" method=POST>
                {% csrf_token %}
                <textarea class="form-control mr-2 p-2" id="compose-content" placeholder="What's on your mind?"></textarea>
                <input type="submit" class="btn btn-primary my-2">
            </form>
        </div>
    {% endif %}

    <div id="posts-view">
    </div>
        

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}